## **1주차 파이썬기초 강의 연습문제 코드**

### 목차
- 파이썬 숫자형 연습문제 
- 파이썬 문자형 연습문제 
- 파이썬 연산자
- 파이썬 리스트, 튜플, 딕셔너리 연습문제 
- 파이썬 조건문 if 연습문제 
- 파이썬 반복문 for 연습문제 

---

### **파이썬 숫자형 연습문제**

- a라는 변수에 10을 , b 라는 변수에는 3을, c 라는 변수에는 2를 할당하기 

- a,b 를 이용해서 10의 세제곱 구하기 

- a,c 를 이용해서 20이라는 결과값 도출하기

- a,b 를 이용해서 10을 3으로 나누기 

- a,c 를 이용해서 10을 2로 나눴을 때의 몫 구하기 

- a,b 를 이용해서 10을 3으로 나눴을 때의 나머지 구하기 



---

- a라는 변수에 10을 , b 라는 변수에는 3을, c 라는 변수에는 2를 할당하기

In [1]:
a = 10 
b = 3 
c = 2

In [6]:
a
b
c

2


- a,b 를 이용해서 10의 세제곱 구하기

In [2]:
a**b

1000


- a,c 를 이용해서 20이라는 결과값 도출하기

In [7]:
a*c

20


- a,b 를 이용해서 10을 3으로 나누기

In [9]:
a/b

3.3333333333333335


- a,c 를 이용해서 10을 2로 나눴을 때의 몫 구하기

In [10]:
a//c

5


- a,b 를 이용해서 10을 3으로 나눴을 때의 나머지 구하기

In [11]:
a % 3

1


### **파이썬 문자형 연습문제**

아래 문자를 str_line이라는 변수를 만들어 문자열 할당하기

- 인덱스를 이용하여 위 문자열 변수를 이용하여 ‘Lotto’ 라는 문자 만들기 

- 슬라이싱을 이용하여 ‘too short,’ 문자열 추출하기 (맨 뒤에 콤마 포함)

- 추출한 문자를 extract_line이라는 변수에 할당하기 

- find 함수를 이용하여 extract_line  변수에 ‘,’ 문자가 문자열의 몇번 째 위치에 있는지 확인하기

- replace 함수를 이용하여 extract_line 변수의 ‘,’ 문자를 ’’인 공란으로 변경하기 

- 원래 extract_line 함수를 다시 실행해서 실제 ’,’ 가 공란으로 변경되어 있는지 확인하기 

- split함수를 사용하여 공백을 기준으로 문자열 나누기 


---

In [12]:
str_line = "Life is too short, You need Python"


- 인덱스를 이용하여 위 문자열 변수를 이용하여 ‘Lotto’ 라는 문자 만들기

In [15]:
str_line.index('o')

9

In [18]:
str_line[0] + str_line[9] + str_line[8]*2 + str_line[9]

'Lotto'


- 슬라이싱을 이용하여 ‘too short,’ 문자열 추출하기

In [23]:
str_line.index('t'), str_line.index(',')

(8, 17)

In [26]:
str_line[8:18]

'too short,'


- 추출한 문자를 extract_line이라는 변수에 할당하기

In [27]:
extract_line = str_line[8:18]


- find 함수를 이용하여 extract_line  변수에 ‘,’ 문자가 문자열의 몇번 째 위치에 있는지 확인하기

In [28]:
extract_line.find(',')

9

In [30]:
extract_line[9]

','


- replace 함수를 이용하여 extract_line 변수의 ‘,’ 문자를 ’’인 공란으로 변경하기

In [31]:
extract_line.replace(',','')

'too short'


- 원래 extract_line 함수를 다시 실행해서 실제 ’,’ 가 공란으로 변경되어 있는지 확인하기

In [32]:
extract_line

'too short,'


- split함수를 사용하여 공백을 기준으로 문자열 나누기

In [33]:
extract_line.split(' ')

['too', 'short,']

### **파이썬 연산자 연습문제**

- 변수 a,b 가 각각 10과 5 일때 a가b 보다 큰지 확인하기

- 변수 a가 8보다 크고 10보다 작거나 같은지 확인하기 ( 8 < a <= 10) 

- 변수 a가 짝수인지 (힌트 : 몫과 나머지) 확인하는 코드를 작성

- s1  =  ‘abc’ 이고 s2 = ‘def’일 때 두 문자열이 같은지 확인하기

- 변수 a가 0이 아닌지  확인하기

- 변수 b가 5인지 확인 하기


---


- 변수 a,b 가 각각 10과 5 일때 a가b 보다 큰지 확인하기

In [34]:
a = 10 
b = 5

In [35]:
a > b

True


- 변수 a가 8보다 크고 10보다 작거나 같은지 확인하기 ( 8 < a <= 10)

In [37]:
8 < a <= 10

True

In [39]:
# 연산자를 배운 후 
a > 8 and  a <= 10

True


- 변수 a가 짝수인지 (힌트 : 몫과 나머지) 확인하는 코드를 작성

In [41]:
a % 2 == 0

True


- s1  =  ‘abc’ 이고 s2 = ‘def’일 때 두 문자열이 같은지 확인하기

In [42]:
s1 = 'abc'
s2 = 'def'

In [43]:
s1 == s2

False


- 변수 a가 0이 아닌지  확인하기

In [45]:
a == 0

False

- 변수 b가 5인지 확인 하기

In [46]:
b == 5

True


### **파이썬 리스트,튜플,딕셔너리 연습문제**


- 리스트 생성: 1부터 10까지의 정수를 원소로 갖는 리스트를 생성하시오.
- 리스트 슬라이싱: 위에서 생성한 리스트의 첫 5개 원소를 슬라이싱하시오.
- 리스트 값 추가: 위에서 생성한 리스트에 11, 12, 13을 추가하시오.
- 리스트 정렬: 위에서 생성한 리스트를 정렬하시오.

- 튜플 생성: 'a', 'b', 'c'를 원소로 갖는 튜플을 생성하시오.
- 튜플 값 억세스: 위에서 생성한 튜플의 첫 번째 원소를 억세스하시오.
- 튜플과 리스트 변환: 위에서 생성한 튜플을 리스트로 변환하고, 다시 튜플로 변환하시오.

- 딕셔너리 생성: 'name' 키에는 'Alice', 'age' 키에는 30을 값으로 갖는 딕셔너리를 생성하시오.
- 딕셔너리 값 억세스: 위에서 생성한 딕셔너리에서 'name' 키의 값을 억세스하시오.
- 딕셔너리 값 변경: 위에서 생성한 딕셔너리에서 'age' 키의 값을 31로 변경하시오.
- 딕셔너리 값 추가: 위에서 생성한 딕셔너리에 'country' 키와 'USA' 값을 추가하시오.
- 딕셔너리 키-값 쌍 억세스: 위에서 생성한 딕셔너리의 모든 키와 값을 출력하시오.
- 딕셔너리 키-값 쌍 삭제: 위에서 생성한 딕셔너리에서 'country' 키와 해당 값을 삭제하시오.
- 딕셔너리와 리스트 변환: 위에서 생성한 딕셔너리의 키를 리스트로 변환 하시오

---


- 리스트 생성: 1부터 10까지의 정수를 원소로 갖는 리스트를 생성하시오.

In [52]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [48]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- 리스트 슬라이싱: 위에서 생성한 리스트의 첫 5개 원소를 슬라이싱하시오.

In [49]:
l1[0:5]

[1, 2, 3, 4, 5]

- 리스트 값 추가: 위에서 생성한 리스트에 11, 12, 13을 추가하시오.

In [58]:
l1.append(13)
l1.append(12)
l1.append(11)

l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 12, 11]

- 리스트 정렬: 위에서 생성한 리스트를 정렬하시오.

In [61]:
l1.sort()
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]


- 튜플 생성: 'a', 'b', 'c'를 원소로 갖는 튜플을 생성하시오.

In [62]:
t1 = ('a','b','c')

- 튜플 값 억세스: 위에서 생성한 튜플의 첫 번째 원소를 억세스하시오.

In [63]:
t1[0]

'a'

- 튜플과 리스트 변환: 위에서 생성한 튜플을 리스트로 변환하고, 다시 튜플로 변환하시오.

In [64]:
l2 = list(t1) 
l2

['a', 'b', 'c']


- 딕셔너리 생성: 'name' 키에는 'Alice', 'age' 키에는 30을 값으로 갖는 딕셔너리를 생성하시오.

In [65]:
d1 = {
    'name': 'Alice', 
    'age': 30
}

- 딕셔너리 값 억세스: 위에서 생성한 딕셔너리에서 'name' 키의 값을 억세스하시오.

In [66]:
d1['name']

'Alice'

- 딕셔너리 값 변경: 위에서 생성한 딕셔너리에서 'age' 키의 값을 31로 변경하시오.

In [67]:
d1['age'] = 31
d1

{'name': 'Alice', 'age': 31}

- 딕셔너리 값 추가: 위에서 생성한 딕셔너리에 'country' 키와 'USA' 값을 추가하시오.

In [69]:
d1['country'] = 'USA'

- 딕셔너리 키-값 쌍 억세스: 위에서 생성한 딕셔너리의 모든 키와 값을 출력하시오.

In [70]:
d1.items()

dict_items([('name', 'Alice'), ('age', 31), ('country', 'USA')])

- 딕셔너리 키-값 쌍 삭제: 위에서 생성한 딕셔너리에서 'country' 키와 해당 값을 삭제하시오.

In [71]:
del d1['country']
d1

{'name': 'Alice', 'age': 31}

- 딕셔너리와 리스트 변환: 위에서 생성한 딕셔너리의 키를 리스트로 변환 하시오

In [72]:
list(d1.keys())

['name', 'age']


### **파이썬 조건문 if 연습문제**


- a 가 양수, 음수, 0인지 판별하는 조건문을 작성하세요. 

- a 가 짝수인지 홀수인지 판별하는 조건문을 작성하세요. (Hint: 산술 연산자에서 나머지 연산자 % 사용) 

- a,b  두 숫자 중 어느 숫자가 더 큰지 판별하는 조건문을 작성하세요. (Hint: 비교 연산자 사용)

- s1이 [‘택시’,’버스’] 에 포함되면 ‘공공’ 을 아니면 ‘자가’ 로 출력하는 조건문을 작성하세요. (Hint: in 사용) 

- s1이 [‘택시’,’버스’] 에 포함되고 s2도 포함되면 ‘공공만 사용’을 아니면 ‘자가도 사용’ 를 출력하는 조건문 작성 (Hint: and사용)


---

In [74]:
a = 10
b = -1
s1 = '택시' 
s2 = '버스'

- a 가 양수, 음수, 0인지 판별하는 조건문을 작성하세요.

In [75]:
if a > 0: 
    print('양수')

elif a < 0: 
    print('음수')

else: 
    print('0')

양수


- a 가 짝수인지 홀수인지 판별하는 조건문을 작성하세요. (Hint: 산술 연산자에서 나머지 연산자 % 사용)

In [76]:
if a % 2 == 0: 
    print('짝수')
else: 
    print('홀수')

짝수


- a,b  두 숫자 중 어느 숫자가 더 큰지 판별하는 조건문을 작성하세요. (Hint: 비교 연산자 사용)

In [77]:
if a > b: 
    print('a가b 보다 크다')
else: 
    print('b가a 보다 크다')

a가b 보다 크다


- s1이 [‘택시’,’버스’] 에 포함되면 ‘공공’ 을 아니면 ‘자가’ 로 출력하는 조건문을 작성하세요. (Hint: in 사용)

In [78]:
if s1 in ['택시','버스']: 
    print('공공')
else: 
    print('자가')

공공


- s1이 [‘택시’,’버스’] 에 포함되고 s2도 포함되면 ‘공공만 사용’을 아니면 ‘자가도 사용’ 를 출력하는 조건문 작성 (Hint: and사용)

In [82]:
if s1 in ['택시','버스'] and s2 in ['택시','버스']: 
    print('공공만 사용')
else: 
    print('자가도 사용')

공공만 사용


### **파이썬 반복문 for 연습문제**

- 1부터 30까지의 숫자를 출력하는 반복문을 작성

- 1부터 10까지의 숫자중 짝수만 출력하도록 반복문과 조건문을 사용하여 작성

- 아래 딕셔너리 데이터에서 반복문을 사용하여 key 값만 출력하도록 작성

- 아래 딕셔너리 데이터에서 반복문을 사용하여 value 값만 출력하도록 작성

- 아래 튜플 데이터를 사용하여 튜플의 모든 문자를 출력하도록 작성


---

In [83]:
## 데이터 

dict_data = {
    'A': 1, 
    'B': 2, 
    'C': 3, 
    'D': 4
}

tuple_data = (
    '고',
    '생',
    '하',
    '셨',
    '습',
    '니',
    '다'
)


- 1부터 30까지의 숫자를 출력하는 반복문을 작성

In [84]:
for i in range(1,31): 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30


- 1부터 10까지의 숫자중 짝수만 출력하도록 반복문과 조건문을 사용하여 작성

In [85]:
for i in range(1,11): 
    if i % 2 == 0: 
        print(i)

2
4
6
8
10


- 딕셔너리 데이터에서 반복문을 사용하여 key 값만 출력하도록 작성

In [88]:

for k in dict_data.keys(): 
    print(k)

A
B
C
D


- 아레 딕셔너리 데이터에서 반복문을 사용하여 value 값만 출력하도록 작성

In [89]:

for v in dict_data.values(): 
    print(v)

1
2
3
4


- 아래 튜플 데이터를 사용하여 튜플의 모든 문자를 출력하도록 작성

In [90]:
for t in tuple_data: 
    print(t)

고
생
하
셨
습
니
다