## **중간고사 정답 코드**

---

1. 다음 a 변수에 할당된 데이터는 파이썬에서 어떤 데이터 타입인가?

In [1]:
a = 'ABC'
type(a)

str

2. 다음 코드의 출력 결과는 무엇인가요?

In [2]:
my_string = "Python"
my_string[0:3] + my_string[-1]

'Pytn'

3. 다음 나머지 연산자를 사용한 파이썬 코드의 출력 결과는 무엇인가요?

In [4]:
remainder = 23 % 5
print(remainder)

3

4. 두 개의 DataFrame이 다음과 같이 주어졌을 때,

In [7]:
import pandas as pd

df1 = pd.DataFrame({
    'CustomerID': [1, 2, 3],
    'Name': ['John', 'Jane', 'Bob']
})

df2 = pd.DataFrame({
    'CustomerID': [1, 3, 4],
    'Product': ['Apple', 'Banana', 'Cherry']
})
 
merged_df = pd.merge(df1, df2, on='CustomerID', how='left')
merged_df

   CustomerID  Name Product
0           1  John   Apple
1           2  Jane     NaN
2           3   Bob  Banana

5. 다음 2차원 배열에 대해, 아래의 파이썬 코드의 출력은 무엇인가요?

In [8]:
two_dim_array = [
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8]
]

print(two_dim_array[1][2])

5

6. 아래의 코드가 수행될 때 출력되는 결과값은 무엇인가요?

In [10]:
my_list = [2, 3, 5, 7, 11, 13, 17, 19]
sum_result = 0

for num in my_list:
    if num < 10:
        sum_result = sum_result + num

print(sum_result)

17